# Buildozer e python-for-android
.buildozer/
.buildozer_android/

# Diretórios de build do Android
*.apk
*.aab
*.obb

# Android SDK e NDK (baixados localmente)
android-sdk/
android-ndk-*/

# Python virtual environment
venv/
env/

# Cache e arquivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados, logs e temporários
*.sqlite3
*.db
*.log
*.tmp
*.swp

# Arquivos do sistema
.DS_Store

# IDEs e editores
.vscode/
.idea/

# Arquivo de chave secreta Firebase
chaveFirebase.json
