# Buildozer e python-for-android
.buildozer/
.buildozer_android/

# Diretórios de build do Android
*.apk
*.aab
*.obb

# Android SDK e NDK (não versionar, baixados localmente)
android-sdk/
android-ndk-*/

# Python virtual environment
venv/
env/
__pycache__/
*.pyc

# Arquivos temporários
*.log
*.tmp
*.swp
.DS_Store

# Editor/IDE
.vscode/
.idea/

venv/
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.db
*.log
.idea/
.vscode/

#Chavefirebase
chaveFirebase.json